<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Projects
            <small>Javascript, Ruby, HTML, CSS</small> <!-- click to sort?-->
        </h1>
    </div>
</div>
<!-- /.row -->

<!-- Projects -->
<div class="row" ng-controller="portfolioCtrl" ng-repeat="project in projects">
    <div class="col-md-7">
        <a href="#">
            <img class="img-responsive" src="{{ project.screenshot }}" alt="">
        </a>
    </div>
    <div class="project col-md-5">
        <h3>{{ project.name }}</h3>
        <h4><a href="{{ project.demo }}" target="new">{{ project.demo.indexOf("chrome") >= 0 ? "Try It" : "View Demo" }}</a></h4>
        <p>{{ project.description }} (<span data-ng-repeat="note in project.notes"><i>{{ note }}{{$last ? '' : ($index==note.length-2) ? ', and ' : ',&nbsp;'}}</i></span>)</p>
        <a class="btn btn-primary" href="{{ project.github }}" target="new">View On Github <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>
<hr>
<!-- /.row -->